@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");
.App {
  font-family: sans-serif;
  text-align: center;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
